*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root{
    --primary:           #45ADFF;
    --secondary:         #00cccc;
    --on-primary:        #ffffff;
    --on-secondary:      #151515;
    --background:        #090909;
    --background-variant:#151515;
    --surface:           #dddddd;
    --text-color:        #000000;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

/* ----- Navigation Bar ----- */
.navLinks{
    position: fixed;
    background-color: var(--primary);
    height: 100vh;
    width: 200px;
    text-align: left;
    top: 0;
    left: -200px;
    border-radius: 0 25px 25px 0;
    transition: 1s;
}
.navLinks .times-icon{
    position: absolute;
    top: 1em;
    right: 1em;
}
.navLinks ul{
    margin: 40px;
}
.navLinks h3{
    color: var(--on-primary);
    opacity: 0.8;

}
.navLinks ul a{
    text-decoration: none;
    color: var(--on-primary);
}
.navLinks ul a li{
    list-style: none;
    margin: 30px 0;
}
nav .fa-solid{
    margin: 20px;
    cursor: pointer;
    color: var(--on-primary);
}
nav i{
    margin: 0 5px 0 0;
}


/* ----- Welcome ----- */
/* .welcome-text{
    color: var(--on-primary);
} */