*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root{
    --primary:           #45ADFF;
    --secondary:         #00cccc;
    --on-primary:        #ffffff;
    --on-secondary:      #151515;
    --background:        #ffffff;
    --background-variant:#151515;
    --surface:           #dddddd;
    --text-color:        #000000;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

/* ----- Navigation Bar ----- */
.navLinks{
    position: fixed;
    background-color: var(--primary);
    height: 100vh;
    width: 200px;
    text-align: left;
    top: 0;
    left: -200px;
    border-radius: 0 25px 25px 0;
    transition: 1s;
}
.navLinks .times-icon{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 2;
    color: var(--on-primary);
}
.navLinks ul{
    margin: 60px 40px;
}
.navLinks h3{
    color: var(--on-primary);
    opacity: 0.8;

}
.navLinks ul a{
    text-decoration: none;
    color: var(--on-primary);
}
.navLinks ul a li{
    list-style: none;
    margin: 30px 0;
}
nav .menu-icon{
    margin: 20px;
    cursor: pointer;
    color: var(--primary);
}
nav i{
    margin: 0 5px 0 0;
}

/* ----- Dashboard HOME ----- */
.revenue{
    grid-area: revenue;
}
.balance{
    grid-area: balance;
    
    padding: 100px;
}
.expense{
    grid-area: expense;
    padding: 100px;
}
.daily-sales{
    grid-area: dailySales;
    padding: 100px;
}
.dashboard-home{
    display: grid;
    grid-template-areas:
    'revenue revenue revenue revenue balance balance'
    'expense expense dailySales dailySales balance balance';
    margin: 0 1em;
    gap: 1em;
    width: 97.5vw;
    height: 80vh;
}
.dashboard-home div {
    background-color: rgba(71, 71, 71, 0.5);
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 770px) {
    .dashboard-home{
        width: 90vw;
        grid-template-areas:
        'revenue'
        'balance'
        'expense'
        'dailySales';
    }
}
/* ----- Welcome ----- */
/* .welcome-text{
    color: var(--on-primary);
} */